[user]
  name = マリウス
  email = marius@xn--gckvb8fzb.com
  signingkey = 4D3899AF73E7F5FE9B39C822272ED814BF63261F
[core]
  excludesfile = ~/.gitignore_global
  pager = delta
  editor = nvim
[interactive]
  diffFilter = delta --color-only
[delta]
  features = side-by-side line-numbers decorations
  whitespace-error-style = 22 reverse
[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none
[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d "$LOCAL" "$REMOTE" "$MERGED" -c 'wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[commit]
  gpgsign = true
  verbose = true
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
[format]
  signoff = yes
[gpg]
  program = gpg2
[pull]
  rebase = true
[push]
  gpgsign = false
  simple = true
  autoSetupRemote = true
[init]
  defaultBranch = master
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[url "ssh://git@git.sr.ht/"]
  insteadOf = https://git.sr.ht/
[sendemail]
  smtpserver = 127.0.0.1
  smtpuser = marius@xn--gckvb8fzb.com
  smtpencryption = tls
  smtpserverport = 1025
  smtpsslcertpath =
[credential "smtp://marius%40xn--gckvb8fzb.com@127.0.0.1%3a1025"]
  helper = !pass smtp/marius@xn--gckvb8fzb.com

# To use this filter, add a .gitattributes file with the following line to the 
# root of the Go project: 
#
# ```
# go.mod filter=gomodreplace
# ```
[filter "gomodreplace"]
  clean = rg -U -v 'replace ((?s)\\(.*\\)|.*)'

# https://www.atlassian.com/git/tutorials/setting-up-a-repository/git-config
[color]
  ui = true
[color "branch"]
  current = yellow
  local = blue
  remote = yellow
  upstream = magenta
  plain = cyan
[color "diff"]
  meta = blue
  frag = magenta
  old = red
  new = green
  whitespace = magenta
[color "status"]
  added = cyan
  changed = magenta
  untracked = red

[fetch]
  prune = true
[rerere]
  enabled = true
