.DS_Store
/usr/local/bin/img2fwup
/usr/local/bin/xmrig-wrmsr
/.irssi/*.log
/.irssi/otr/*
/.local/share/vale
/.config/syncthing
/.config/radicle-link
/.config/cloudcash.toml
/.config/gobbs.toml
/.config/cmus/autosave
/.config/cmus/cache
/.config/cmus/command-history
/.config/cmus/lib.pl
/.config/cmus/playlists/**
/.config/cmus/search-history
/.config/git/hooks/**
