* {
  border: none;
  border-radius: 0;
  font-family: 'Topaz Unicode KS13', 'B612 Mono', 'ProggyVector', 'Fira Code Nerd Font';
  font-size: 10px;
  min-height: 30px;
  margin: 0 0px;
}

window#waybar.top {
  background-color: rgba(4,6,6,0);
  border-bottom: none;
  color: #eeeeee;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.bottom {
  background-color: rgba(4,6,6,0.92);
  border-bottom: none;
  color: #eeeeee;
  transition-property: background-color;
  transition-duration: .5s;
}

window#waybar.hidden {
  opacity: 0.2;
}

label#window {
  text-shadow: 0px 0px 3px #18181e;
}

.modules-left > widget > label,
.modules-left > box > widget > label,
.modules-right > widget > label,
.modules-right > box > widget > label {
  background-color: rgba(4, 6, 6, 0.92);
  padding: 0 10px;
  margin: 0px 0px 0px 0px;
}

window#waybar.bottom .modules-left > widget > label,
window#waybar.bottom .modules-right > widget > label {
  font-size: 10px;
}

#network, #resources, #clock {
  background-color: rgba(4, 6, 6, 0.92);
  padding: 0 6px;
  margin: 0px 0px 0px 0px;
}

#custom-crypto  {
  border-radius: 0px 0px 5px 0px;
}

.modules-left > widget:nth-last-child(2) > label  {
  border-radius: 0px 0px 5px 0px;
}

.modules-right > box:nth-child(1) > widget > label  {
  border-radius: 0px 0px 0px 5px;
}

#workspaces {
  background-color: rgba(4, 6, 6, 0.92);
  margin: 0px 0px 0px 0px;
}

#workspaces button {
  padding: 4px 6px;
  color: #282828;
  border-radius:  0px;
  min-width: 32px;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
  background-color: rgba(255, 255, 255, 0.92);
  box-shadow: inherit;
}

#workspaces button.focused {
  color: #eeeeee;
}

#workspaces button.focused:hover {
  color: #282828;
}

#workspaces button.urgent {
  color: #ffffff;
  background-color: #e27878;
}

#language {
  margin: 0px 0px 0px 0px;
  color: #282828;
}

#tray {
  background-color: rgba(0, 0, 0, 0);
  margin-left: 10px;
}

#tray image {
  margin: 0px 10px 0px 0px;
}

#mode {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #e2a478;
  margin: 0px 10px 0px 0px;
  border-radius: 5px;
}

#custom-zeit {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 3px #18181e;
}

#mpd {
  background-color: rgba(0, 0, 0, 0);
  text-shadow: 0px 0px 3px #18181e;
}

#temperature {
  margin: 0px;
  padding: 0px 8px 0px 0px;
}

