(
    selected_tab: Some("#7EECC9"),
    command_fg: Some("#F8F8F2"),
    selection_bg: Some("#8785ec"),
    selection_fg: Some("#F8F8F2"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("#8785ec"),
    disabled_fg: Some("#463465"),
    diff_line_add: Some("#72F1B8"),
    diff_line_delete: Some("#FF79C6"),
    diff_file_added: Some("#72F1B8"),
    diff_file_removed: Some("#FF79C6"),
    diff_file_moved: Some("#FF7EDB"),
    diff_file_modified: Some("#FFCC00"),
    commit_hash: Some("#FF79C6"),
    commit_time: Some("#61E2FF"),
    commit_author: Some("#72F1B8"),
    danger_fg: Some("#FF79C6"),
    push_gauge_bg: Some("#8785ec"),
    push_gauge_fg: Some("Reset"),
    tag_fg: Some("#7EECC9"),
    branch_fg: Some("#FFCC00"),
)
