// Netrunner, see ~/.themes/Netrunner and ~/.config/ghostty/themes/netrunner.conf
//
//   #4d5772   $dim        disabled entries
//   #7a85a6   $muted      command bar, commit hashes
//   #e8f0f8   $text       default foreground
//   #121726   $panelHi    selection background
//   #6e86e0   $blue       commit authors
//   #86c8dc   $cyanLt     commit times, tags
//   #b492ec   $violetLt   moved files
//   #e0a868   $amber      selection, active tab, branches, modified files
//   #05060a   $void       text on the amber gauge
//   #48b878   $ok         additions
//   #e05a6a   $bad        deletions, errors
(
    selected_tab: Some("#e0a868"),
    command_fg: Some("#7a85a6"),
    selection_bg: Some("#121726"),
    selection_fg: Some("#e0a868"),
    cmdbar_bg: Some("Reset"),
    cmdbar_extra_lines_bg: Some("#121726"),
    disabled_fg: Some("#4d5772"),
    diff_line_add: Some("#48b878"),
    diff_line_delete: Some("#e05a6a"),
    diff_file_added: Some("#48b878"),
    diff_file_removed: Some("#e05a6a"),
    diff_file_moved: Some("#b492ec"),
    diff_file_modified: Some("#e0a868"),
    commit_hash: Some("#7a85a6"),
    commit_time: Some("#86c8dc"),
    commit_author: Some("#6e86e0"),
    danger_fg: Some("#e05a6a"),
    push_gauge_bg: Some("#e0a868"),
    push_gauge_fg: Some("#05060a"),
    tag_fg: Some("#86c8dc"),
    branch_fg: Some("#e0a868"),
)
