/* ::root{ */
/*     --accent: #5291e2; */
/*     --dark: #383C4A; */
/*     --light: #7C818C; */
/*     --ld: #404552; */
/*     --dl: #4B5162 */
/*     --white: white; */
/* } */

*{
  font-family: 'ProggyVector', 'Fira Code Nerd Font';
}

window {
  color: #CBD8EB;
  background-color: rgba(4, 6, 6, 0.92);
  border: 2px solid #888888;
}

#input {
  margin: 10px 0px;
  border-radius: 0px;
  border: none;
  background: transparent;
  color: #ffffff;
}

#inner-box {
  background-color: transparent;
}

#outer-box {
  margin: 10px;
  background-color: transparent;
}

#scroll {
  margin: 8px 4px;
}

#text {
  padding: 5px;
  color: #888888;
}


#entry:selected {
  color: #ffffff;
  background-color: transparent;
  border: 0px;
}

#text:selected {
  color: #ffffff;
  background-color: transparent;
}

